--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0
segment-anything
ultralytics
segmentation_models_pytorch
albumentations
opencv-python
fastapi
uvicorn[standard]
jinja2
python-multipart
matplotlib
numpy<2
pandas
seaborn
locust
httpx